body {
  font-family: "Oswald", sans-serif;
  background-color: #eff5f8;
}

.container {
  margin: 50px auto;
  width: 600px;
  background-color: #f7fcff;
  border-radius: 10px;
}
header {
  font-size: 20px;
  color: #273c46;
  background-color: #f4f6f8;
  line-height: 1.5;
  text-align: center;

  border-radius: 10px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px 10px 50px;
}
.heading {
  font-size: 32px;
  font-weight: 700;
}
.emoji {
  font-size: 60px;
}
main {
  margin-bottom: 30px;
}
.form-container {
  padding: 30px;

  box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f4f6f8;
}

form {
  display: flex;
  margin-top: 5px;
}
label {
  opacity: 0.9;
  color: #273c46;
}
.input-field {
  width: 80%;
  font-size: 16px;
  line-height: 1.5;
  padding: 15px 30px;
  border: 1px solid #66686b;
  border-radius: 40px;
}
.submit-button {
  width: 150px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 1.5;
  padding: 15px 20px;
  border: none;
  border-radius: 40px;
  background-color: #709fb5;
  color: #fff;
  cursor: pointer;
}
.recipe-result {
  margin-top: 30px;
  font-size: 16px;
  line-height: 2;
  color: #273c46;
  padding: 20px;
  border-left: 3px solid #709fb5;
  box-shadow: 0px 20px 50px rgba(43, 47, 55, 0.2);
}
.recipe-result strong {
  color: #709fb5;
}
.hidden {
  display: none;
}
footer {
  font-size: 14px;
  line-height: 1.5;
  color: #273c46;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
}
a {
  color: #709fb5;
}

.blinker {
  animation: blinker 1s ease-in-out infinite alternate;
}
@keyframes blinker {
  to {
    opacity: 0;
  }
}
